@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(34,195,59);
    background: linear-gradient(0deg, rgba(34,195,59,1) 0%, rgba(253,187,45,0.9764238459055498) 100%); 
    /* background: rgb(61,180,58);
    background: linear-gradient(0deg, rgba(61,180,58,1) 0%, rgba(255,255,255,0.6) 50%, rgb(255, 140, 53) 100%);  */
    color: rgb(6, 10, 70);
}
main{
    border-radius: 20px;
    border: solid 5px;
     width: 600px;
    border-collapse:collapse;
}
.question{
    font-size: 35px;
    margin-bottom: 40px;
}
button{
    margin-top: 0px;
    margin-bottom: 0;
    width: 120px;
    height: 50px;
    font-size: 25px;
    margin: 20px;
    background-color: rgb(6,10,70);
    color: white;
    border-radius: 15px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    margin: 0px;
    font-size: 30px;
}
input{
    margin: 15px;
    size: 40px;
}
.container{
    padding: 60px;
}
.option{
    margin-bottom: 20px;
}
p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(6, 10, 70);
} 
  